@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.svg-navbar {
    /* fundo rosa */
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 1;
    bottom: 0;
    margin: 0;
}

.navbar-pet {
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elipse-navbar {
    position: absolute;
    height: auto;
}

.navbar {
    /* conjunto de icones */
    width: 100vw;
    position: fixed;
    z-index: 2;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0.8em 0;
}

.navbar a {
    /* icones e legendas */
    margin: 0 auto;
    text-decoration: none;
    color: #6C37B1;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar img {
    /* icones img */
    width: 80%;
}

.pet-icon {
    /* icone central do pet */
    width: 3.7em;
    z-index: 2;
    margin: auto;
}

.navbar-pet-gap{
    padding: 0 2em;
}